button{

    background-color: Green;
    
}

ul{
    text-align: left;
}
h3{
    font-size: 30px;
}

header { background-color: #003366; color: white; padding: -50px; }
    nav a { color: white; margin: 0 20px; text-decoration: none; }
    .apply-button { background-color: green; color: white; padding: 100% 20%; text-decoration: none; border-radius: 5px; }
    .hero { padding: 40px; text-align: right; background-color: #f0f8ff; }
   